{% extends 'base.html' %}
{% load static %}

{% block style %}<link href="{% static 'games/css/life_style.css' %}" rel='stylesheet'>{% endblock %}
{% block title %}Жизнь{% endblock %}

{% block body %}
    <div class="wrap">
        <h1 style="margin-top: 0px;">Игра "Жизнь"</h1>
        <div class='content'>
            <div class='setting'>
                <div class="settingBlock">
                    <h2 align='center' style='margin-top: 0px; margin-bottom: 10px;'>Настройки</h2>
                    <div class='blockText' style="margin-top: 0px;">  
                        <span style="float: left">Тип</span>  
                        <span id='typeText'>Стандартная</span>  
                    </div>
                    <input id='typeSlider' class='slider' type="range" min="1" max="3" value="1">

                    <div class='blockText'>  
                        <span style="float: left">Ширина</span>  
                        <span id='widthText'>90</span>  
                    </div>
                    <input id='widthSlider' class='slider' type="range" min="30" max="90" value="90">
                    
                    <div class='blockText'>  
                        <span style="float: left">Высота</span>  
                        <span id='heightText'>48</span>  
                    </div>
                    <input id='heightSlider' class='slider' type="range" min="15" max="60" value="48">
                    
                    <div class='blockText'>  
                        <span style="float: left">Размер клетки</span>  
                        <span id='sizePixelText'>10</span>  
                    </div>
                    <input id='sizePixelSlider' class='slider' type="range" min="1" max="3" value="2">
                    
                    <div class='blockText'>  
                        <span style="float: left">Скорость</span>  
                        <span id='speedText'>0.200</span>  
                    </div>
                    <input id='speedSlider' class='slider' type="range" min="10" max="5000" value="200">
                    
                    <div class='blockText'>  
                        <span style="float: left">Срок жизни</span>  
                        <span id='lifeText'>4</span>  
                    </div>
                    <input id='lifeSlider' class='slider' type="range" min="1" max="10" value="4" disabled>
                    
                    <div class='blockText'>  
                        <span style="float: left">Сохранение</span>  
                        <span id='saveText'>2 - 3</span>  
                    </div>
                    <div class='oneSlider'><input id='saveSliderOne' class='slider' style='float: left;' type="range" min="1" max="8" value="2"></div>
                    <div class='twoSlider'><input id='saveSliderTwo' class='slider' style='float: left;' type="range" min="1" max="8" value="3"></div>
                    
                    <div class='blockText' style='clear: both'>  
                        <span style="float: left">Размножение</span>  
                        <span id='reprodText'>3</span>  
                    </div>
                    <input id='reprodSlider' class='slider' type="range" min="1" max="8" value="3">                    

                    <div class='blockText' style='clear: both'>  
                        <span style="float: left">Случайные клетки</span>  
                        <span id='randomCellText'>0%</span>  
                    </div>
                    <input id='randomCellSlider' class='slider' type="range" min="0" max="100" value="0">
                </div>
            </div>
            <div class="blockCanvas">
                <canvas class='gameField' id="field"></canvas>
            </div>
            <div class='setting'>
                <div id='settingBiom' class="settingBlock" style="opacity: 0;">
                    <h2 align='center' style='margin-top: 0px; margin-bottom: 10px;'>Биомы</h2>
                    <h3 class='titleBiom sep'>Море</h3>
                    <div class='blockText'>  
                        <span style="float: left">Срок жизни</span>  
                        <span id='lifeSeaText'>2</span>  
                    </div>
                    
                    <div class='blockText'>  
                        <span style="float: left">Сохранение</span>  
                        <span id='saveSeaText'>1 - 2</span>  
                    </div>

                    <div class='blockText' style='clear: both'>  
                        <span style="float: left">Размножение</span>  
                        <span id='reprodSeaText'>2</span>  
                    </div>      
                    
                    <h3 class='titleBiom sep'>Пляж</h3>
                    <div class='blockText'>  
                        <span style="float: left">Срок жизни</span>  
                        <span id='lifeBeachText'>8</span>  
                    </div>
                    
                    <div class='blockText'>  
                        <span style="float: left">Сохранение</span>  
                        <span id='saveBeachText'>1 - 4</span>  
                    </div>

                    <div class='blockText' style='clear: both'>  
                        <span style="float: left">Размножение</span>  
                        <span id='reprodBeachText'>2</span>  
                    </div>     

                    <h3 class='titleBiom sep'>Лес</h3>
                    <div class='blockText'>  
                        <span style="float: left">Срок жизни</span>  
                        <span id='lifeForestText'>20</span>  
                    </div>
                    
                    <div class='blockText'>  
                        <span style="float: left">Сохранение</span>  
                        <span id='saveForestText'>2 - 3</span>  
                    </div>

                    <div class='blockText' style='clear: both'>  
                        <span style="float: left">Размножение</span>  
                        <span id='reprodForestText'>3</span>  
                    </div>  

                    <h3 class='titleBiom sep'>Горы</h3>
                    <div class='blockText'>  
                        <span style="float: left">Срок жизни</span>  
                        <span id='lifeMountainText'>2</span>  
                    </div>
                    
                    <div class='blockText'>  
                        <span style="float: left">Сохранение</span>  
                        <span id='saveMountainText'>2 - 5</span>  
                    </div>

                    <div class='blockText' style='clear: both'>  
                        <span style="float: left">Размножение</span>  
                        <span id='reprodMountainText'>3</span>  
                    </div>  
                </div>
            </div>
        </div>
        <div class='block'>
            <p>Циклов прошло: <span id="cycles">0</span></p>
            <input id="startAndPause" type="image" src="{% static 'games/image/life/play.png' %}" class="imageButton">
            <input id="step" type="image" src="{% static 'games/image/life/step.png' %}" class="imageButton">
            <input id="refresh" type="image" src="{% static 'games/image/life/refresh.png' %}" class="refreshButton">
            <input id="randomField" type="image" src="{% static 'games/image/life/generate.png' %}" class="imageButton">
            <input id="map" type="image" src="{% static 'games/image/life/map.png' %}" class="mapButton">
        </div>
    </div>
{% endblock %}

{% block scripts %}
<script src="{% static 'games/js/life/dist/build.js' %}"></script>
{% endblock %}