{% extends 'base.html' %}
{% load static %}

{% block style %}<link href="{% static 'games/css/games_style.css' %}" rel='stylesheet'>{% endblock %}
{% block title %}Игры{% endblock %}


{% block body %}
    <div style="background-color: #e5e5e5;">
        <div class="box">
            <div>
                <a href='pair'>
                    <div class="block">
                        <div class="top"><img class="image_block" src="{% static 'games/image/games/pair.png' %}"></div>
                        <div class="bottom"><p class="title-block">Пары</p></div>
                    </div>
                </a>
                <div class="block mid">
                    <div class="top"></div>
                    <div class="bottom"><p class="title-block">Жизнь</p></div>
                </div>
                <div class="block">
                    <div class="top"></div>
                    <div class="bottom"><p class="title-block">Змейка</p></div>
                </div>
            </div>
            <div>
                <div class="block">
                    <div class="top"></div>
                    <div class="bottom"><p class="title-block">Крестики-нолики</p></div>
                </div>
                <div class="block mid">
                    <div class="top"></div>
                    <div class="bottom"><p class="title-block">Раннер</p></div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}


{% block scripts %}

{% endblock %}