{% extends 'base.html' %}

{% block style %}{% include 'games/style.html' %}{% endblock %}
{% block title %}Игры{% endblock %}


{% block body %}
    <div style="background-color: #e5e5e5;">
        <div class="box">
            <div>
                <div class="block">
                    <div class="top"></div>
                    <div class="bottom"><p class="title-block">Пары</p></div>
                </div>
                <div class="block mid">
                    <div class="top"></div>
                    <div class="bottom"><p class="title-block">Жизнь</p></div>
                </div>
                <div class="block">
                    <div class="top"></div>
                    <div class="bottom"><p class="title-block">Змейка</p></div>
                </div>
            </div>
            <div>
                <div class="block">
                    <div class="top"></div>
                    <div class="bottom"><p class="title-block">Крестики-нолики</p></div>
                </div>
                <div class="block mid">
                    <div class="top"></div>
                    <div class="bottom"><p class="title-block">Раннер</p></div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}


{% block scripts %}

{% endblock %}